<html lang= "en">
<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <link rel="icon" href="images/favicon.png" type="image/gif" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Shefali Design Studio | Contact</title>


  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

   <!-- <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet" /> -->
   <link href="https://fonts.googleapis.com/css2?family=Playball&display=swap" rel="stylesheet">
  <!-- font awesome style -->
  <link href="css/font-awesome.min.css" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />

</head>

<body >
  <!-- loading div  -->
 <div class="preloader"></div>  
  {{>navphone}}

  <!-- header section strats -->
    {{>nav}}
  <!-- end header section -->

{{!-- contact section --}}
  

   {{>contactpartial}} 

  <!-- end contact section -->

  <!-- info section -->

  {{>infosection}}

  <!-- end info section -->


  <!-- footer section -->
{{>footer}}
  <!-- footer section -->

   <!-- js -->
   <script>
    var preloader = document.getElementById("loading");
    function loadfun(){
      preloader.style.display = 'none';
    }

  </script>

  <!-- jQery -->
  <script src="js/jquery-3.4.1.min.js"></script>
  <!-- bootstrap js -->
  <script src="js/bootstrap.js"></script>
  <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
  <!-- custom js -->
  <script src="js/custom.js"></script>
  <script>
    $(document).ready(function() {
//Preloader
preloaderFadeOutTime = 500;
function hidePreloader() {
var preloader = $('.preloader');
preloader.fadeOut(preloaderFadeOutTime);
}
hidePreloader();
});
</script>


</body>

</html>