<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
 
  <link rel="icon" href="images/favicon.png" type="image/gif" />
  <meta name="keywords" content="" />
  <meta name="description" content="Welcome to Shefali Design Studio an exclusive experience embodied by luxurious architectural and interior." />
  <meta name="author" content="" />

  <title>Shefali Design Studio | Home</title>


  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

  <!-- fonts style -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet" /> -->
  <link href="https://fonts.googleapis.com/css2?family=Playball&display=swap" rel="stylesheet">
  <!-- font awesome style -->
  <link href="css/font-awesome.min.css" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />

</head>

<body >
<div class="preloader"></div> 
     {{>navphone}}  

  <!-- slider section -->
  <section class="slider_section">
    <div class="slider_bg_box">
      <div class="bg_img_box">
        <img src="images/image1.jpg" height = "auto" width = "330rem" alt="image1">
      </div>
    </div>
    <div id="customCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container ">
            <div class="row">
              <div class="col-md-7 mx-auto">
                <div class="detail-box">
                  <h1 style = "word-spacing: 0.1em;">
                    Shefali  Design  Studio
                  </h1>
                  <p style= "font-size:1.5rem">
                    “Creativity is allowing yourself to make mistakes. Design is knowing which ones to keep.”
                  </p>
                  <a href="/contact" class="btn1">
                    Contact Us
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container ">
            <div class="row">
              <div class="col-md-7 mx-auto">
                <div class="detail-box">
                  <h1 style = "word-spacing: 0.1em;">
                    Shefali Design Studio
                  </h1>
                  <p style= "font-size:1.5rem">
                    “Underneath all I design lies the solid belief that beauty is a positive force.”
                  </p>
                  <a href="/contact" class="btn1">
                    Contact Us
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container ">
            <div class="row">
              <div class="col-md-7 mx-auto">
                <div class="detail-box">
                  <h1 style = "word-spacing: 0.1em;">
                    Shefali Design Studio
                  </h1>
                  <p style= "font-size:1.5rem">
                    “A house is much more than a mere shelter—it should lift us emotionally and spiritually.”
                  </p>
                  <a href="/contact" class="btn1">
                    Contact Us
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ol class="carousel-indicators">
        <li data-target="#customCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#customCarousel" data-slide-to="1"></li>
        <li data-target="#customCarousel" data-slide-to="2"></li>
      </ol>
    </div>
  </section>
  <!-- end slider section -->

  <!-- header section strats -->
  {{>nav}}
  <!-- end header section -->

  <!-- service section -->

  <section class="service_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Our Services
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="images/s1.jpg" alt="">
            </div>
            <div class="detail-box">
              <h1>
                Interior Design
              </h1>
              <p style="font-size : 1.4em ;font-weight: 500;">
               Interior designers make interior spaces functional, safe, and beautiful by determining space requirements and selecting decorative items, such as colors, lighting, and materials. They read blueprints and must be aware of building codes and inspection regulations, as well as universal accessibility standards.
              </p>

              <br><br><br><br>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="images/floorplan.png" height="100%" alt="">
            </div>
            <div class="detail-box">
              <h1>
                Floor Plan
              </h1>
              <p style="font-size : 1.4em ;font-weight: 500;">
                Floor plans are scale drawings that show the relationship between rooms, spaces and physical features viewed from above.We provide a way to visualize how people will move through the space.Floor plans makes it easier to check if the space is suitable for its intended purpose, work through any potential challenges and redesign before moving forward into more elaborate planning or building stages. 
              </p>
             
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="images/s3.jpg" alt="">
            </div>
            <div class="detail-box">
              <h1>
                Architecture Design
              </h1>
              <p style="font-size : 1.4em ;font-weight: 500;">
               Architectural design is guided by certain principles. For example, to achieve good modularity, high coupling, and low cohesion, the wise architect will probably include some form of layering in the architecture being designed. Similarly, to achieve high availability, an architect will likely choose a pattern involving some form of redundancy and failover.
              </p>
             <br><br><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end service section -->

  <!-- about section -->

  <section class="about_section about_section1 pt-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="detail-box">
            <div class="heading_container">
              <h2 style = "word-spacing: 0.2em;">
                About Us
              </h2>
            </div>
            <p class = "rm">
               Welcome to Shefali Design Studio an exclusive experience embodied by luxurious architectural and interior.<br>
               The work of studio addresses new ways of understanding, space and requirements.
            </p>
            <a href="/about">
              Read More
            </a>
          </div>
        </div>
        
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- about section -->

  <section class="about_section about_section2 layout_padding pt-5 ">
    <div class="container ">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="images/s1.jpg" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h1  class="text-center" style= "word-spacing:0rem;">
                We Will Design
                Your Dream House
              </h1>
               <br>
            </div>
            <h2 class="text-center">
              <u >Our aim</u>
            </h2>
            <p class = "rm justify-center">
              Our aim is driven by passion in the puruit of design excellence.  
              Our work is grounded on the principles of conscious design, an approach that celebrates local resources, cultural influences a keen attention to detail and an inclusive process.        
            </p>
            <a href="/aim" style = "justify-content: center;">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
    <br><br>
  </section>
<br>

  <!-- end about section -->

  <!-- portfolio section -->

   {{>portfoliopartial}} 

  <!-- end portfolio section -->


<br>

  <!-- Furnishing section -->
{{!-- 
  <section class="client_section ">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
         Furnishing | Artifacts
        </h2>
      </div>
    </div>
    <div class="container">
      <div class="col-md-9 mx-auto px-0">
        <div id="carouselExample2Controls" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExample2Controls" data-slide-to="0" class="active">
              <img src="images/c1.jpg" height="300rem" alt="">
            </li>
            <li data-target="#carouselExample2Controls" data-slide-to="1">
              <img src="images/c2.jpg" alt="">
            </li>
            <li data-target="#carouselExample2Controls" data-slide-to="2">
              <img src="images/c3.jpg" alt="">
            </li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              
            </div>
            <div class="carousel-item">
              <div class="detail-box">
                <h5>
                  John Cavill
                </h5>
                <h6>
                  Officia dolom
                </h6>
                <p>
                  <i class="fa fa-quote-left" aria-hidden="true"></i>
                  Atque itaque deserunt beatae ab! Officia sapiente reiciendis quia amet inventore error dolorem esse nisi asperiores laborum sit odit quae facilis nemo, quo maxime quasi harum officiis, nihil corrupti ab.
                  Optio omnis officia dolorum voluptatibus nisi praesentium et, fugiat ducimus ea doloribus quam ut architecto temporibus unde vitae, autem accusamus illum esse
                  <i class="fa fa-quote-right" aria-hidden="true"></i>
                </p>
              </div>
            </div>
            <div class="carousel-item">
              <div class="detail-box">
                <h5>
                  Lisa Joy
                </h5>
                <h6>
                  Officia dolom
                </h6>
                <p>
                  <i class="fa fa-quote-left" aria-hidden="true"></i>
                  Atque itaque deserunt beatae ab! Officia sapiente reiciendis quia amet inventore error dolorem esse nisi asperiores laborum sit odit quae facilis nemo, quo maxime quasi harum officiis, nihil corrupti ab.
                  Optio omnis officia dolorum voluptatibus nisi praesentium et, fugiat ducimus ea doloribus quam ut architecto temporibus unde vitae, autem accusamus illum esse
                  <i class="fa fa-quote-right" aria-hidden="true"></i>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section> --}}

  <!-- end furnishing section -->

  <!-- contact section -->
   {{contact}}
  <!-- end contact section -->


  <!-- info section -->
  <br>
  <br>

 {{>infosection}}

  <!-- end info section -->


   <!-- footer section -->
   {{>footer}} 
 <!-- footer section -->

 <!-- js -->
  <script>
    var preloader = document.getElementById("loading");
    function loadfun(){
      preloader.style.display = 'none';
    }

  </script>

  <!-- jQery -->
  <script src="js/jquery-3.4.1.min.js"></script>
  <!-- bootstrap js -->
  <script src="js/bootstrap.js"></script>
  <!-- isotope js -->
  <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
  <!-- custom js -->
  <script src="js/custom.js"></script>
 <script>
$(document).ready(function() {
//Preloader
preloaderFadeOutTime = 500;
function hidePreloader() {
var preloader = $('.preloader');
preloader.fadeOut(preloaderFadeOutTime);
}
hidePreloader();
});
</script>

</body>

</html>