 <section class="info_section ">
    <div class="info_container ">
      <div class="container">
        <div class="row">
          <div class="col-lg-9">
            <div class="info_contact">
              <div class="row">
                <div class="col-md-8">
                  <a href="https://goo.gl/maps/RUwHkfWCJ3r4Jpbg6" class="link-box" target="_blank" >
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <span  style = "font-size: 1.2rem;margin-top:1em">
                      <p class="max">Shefali Design Studio,H-BLOCK, Sector 23, Sanjay Nagar, Ghaziabad, Uttar Pradesh 201002</p>
                    </span>
                  </a>
                </div>
                <div class="col-md-8 mr-5" >
                  <a href="tel:+917252048255" class="link-box">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <span  class="max mr-5 pr-5">
                      Call +91 7252048255 | 9690209619
                    </span>
                    
                  </a>
                </div>
                <div class="col-md-8 text-sm-left">
                  <a href="mailto: arshefalisharma2209@gmail.com" class="link-box">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <span style = "font-size:1.4rem;"  class="max">
                      arshefalisharma2209@gmail.com
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
       
        <div class="info_logo col-md-8 mx-auto" >
          <a class="navbar-brand" href="/">
            <h2 style = "word-spacing: 0.1em;color:#ffffff;">
              Shefali  Design  Studio
            </h2>
          </a>
        </div>
        <div class="social-box">
          <a href="" target="_blank">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
         
          <a href="https://www.instagram.com/s_designstudios/" target="_blank">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
          
        </div>
      </div>
    </div>
  </section>