 <section class="portfolio_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Our Portfolio
        </h2>
      </div>

      <ul class="filters_menu">
        <li class="active" data-filter="*">All</li>
        <li data-filter=".residential">Residential</li>
        <li data-filter=".office">Office</li>
        <li data-filter=".commercial">Commercial</li>
      </ul>

      <div class="filters-content">
        <div class="row grid">
          <div class="col-sm-6 col-md-4 all residential">
            <div class="box">
              <img src="images/resi (1).jpg" alt="">
            </div>
          </div>
         
           <div class="col-sm-6 col-md-4 all residential">
            <div class="box">
              <img src="images/resi1.jpg" alt="">
            </div>
          </div>
          <div class="col-sm-6 col-md-4 all residential">
            <div class="box">
              <img src="images/resi4.jpg" alt="">
            </div>
          </div>
          <div class="col-sm-6 col-md-4 all residential">
            <div class="box">
              <img src="images/res6.jpg" alt="">
            </div>
          </div>
          <div class="col-sm-6 col-md-4 all residential">
            <div class="box">
              <img src="images/res7.jpg" alt="">
            </div>
          </div>
          <div class="col-sm-6 col-md-4 all residential">
            <div class="box">
              <img src="images/res8.jpg" alt="">
            </div>
          </div>
          <div class="col-sm-6 col-md-4 all office">
            <div class="box">
              <img src="images/p4.jpg" alt="">
            </div>
          </div>
          <div class="col-sm-6 col-md-4 all office">
            <div class="box">
              <img src="images/off3.jpg" alt="">
            </div>
          </div>
          <div class="col-sm-6 col-md-4 all office">
            <div class="box">
              <img src="images/off1.jpg" alt="">
            </div>
          </div>
         
          <div class="col-sm-6 col-md-4 all commercial">
            <div class="box">
              <img src="images/p6.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>